{% extends 'base.html' %} {% block content %}
<div class="row">
    <div>
        <h4 class="center-align">Add a new expense to the dashboard</h4>
    </div>
    <hr>
    <form action="{{ url_for('insertExpense')}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <select id="category" name="category_name">
                    <option value="" disabled selected>Choose your option</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label>Category Select</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">attach_money</i>
                <input id="value" type='number' name="value" class="validate">
                <label for="icon_telephone">How Much Did You Spend?</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Add Expense
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
{% endblock %}