<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expense Tracker</title>
    <!-- Custom Style CSS file-->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/dc.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper indigo darken-1">
                <a class="brand-logo right">Expense Tracker</a>
                <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                    <li><a href="{{url_for('addExpense')}}">Add Expense</a></li>
                    <li><a href="{{url_for('addIncome')}}">Add Income</a></li>
                    <li><a href="{{url_for('addCategory')}}">Add Category</a></li>
                    <li><a href="{{url_for('editCategory')}}">Delete / Reset Category</a></li>
                    <li><a class="modal-trigger" href="#modal1">Help</a></li>

                </ul>
            </div>
        </nav>
        <ul class="sidenav blue lighten-3" id="mobile">
            <li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
            <li><a href="{{url_for('addExpense')}}">Add Expense</a></li>
            <li><a href="{{url_for('addIncome')}}">Add Income</a></li>
            <li><a href="{{url_for('addCategory')}}">Add Category</a></li>
            <li><a href="{{url_for('editCategory')}}">Delete / Reset Category</a></li>
            <li><a class="modal-trigger" href="#modal1">Help</a></li>

        </ul>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>

    <footer class="page-footer indigo darken-1">
        <div class="footer-copyright indigo darken-1">
            <div class="container" id="copyright-footer">
                © 2019 Copyright Luigi Langella
            </div>
        </div>
    </footer>

    <!-- Modal Help Page -->
    <div id="modal1" class="modal modal-fixed-footer col s-12">
        <div class="modal-content">
            <h4>How to Use the Expense Tracker</h4>
            <p>The Expense Tracker is designed to help you keep track of your monthly expenses, giving you an overview of the totals by category and show you were most of your money goes!</p>
            <ol>
                <li>You can reset all the categories to $0 simply by clicking on the delete/reset button</li>
                <li>As you add your expenses the tracker will add them to your existing ones.</li>
                <li>If you want you can add a new category for your convinience by clicking on the add category button.</li>
                <li>Soon more features will be added so keep updating your app!</li>
            </ol>
            <h3>Thank you for using my App!</h3>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <!-- Compiled and minified jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type='text/javascript'>
        $(document).ready(function() {
            $('.sidenav').sidenav()
            $('.collapsible').collapsible()
            $('select').formSelect()
            $('.dropdown-trigger').dropdown()
            $('.modal').modal()
            $('.datepicker').datepicker()
            $('.timepicker').timepicker();

        });
    </script>

</body>

</html>