{% extends 'base.html' %} {% block content %}
<section id="categories">
    <div class="row">
        {% for category in categories %}
        <div class="col s12 m6 l6">
            <div class="collection">
                <a href="#!" class="collection-item">{{ category.category_name }} : {{ category.value }}<i class="material-icons tiny">attach_money</i></a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section id="graphs">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6 left">
                <div id="pie"></div>
            </div>
            <div class="col s12 m6 l6 right">
                <div id="bar"></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}