{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col s12 m6 l6">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">add_shopping_cart</i>Expense List <i class="material-icons">expand_more</i></div>
                <div class="collapsible-body">
                    <span>
                        <section id="categories">
                            <ul class="collapsible" data-collapsible="accordion">
                                {% for category in categories %}
                                <li>
                                    <div class="collapsible-header">
                                        <div class="category-header">
                                            <i class="material-icons">expand_more</i>
                                            <span>{{ category.name }} : $ {{ category.ammount }} </span>
                </div>
    </div>
    <div class="collapsible-body collection">
        <span class="collection-item">Description: {{ category.description }}</span>
        <hr>
        <span class="collection-item">Date & Time: {{ category.date }}</span>
    </div>
    </li>
    {% endfor %}
    </ul>
    </section>
    </span>
</div>
</li>
</ul>
</div>



<div class="col s12 m6 l6">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">monetization_on</i>Income, Deposits & Savings
                <i class="material-icons">expand_more</i>
            </div>
            <div class="collapsible-body">
                <span>
                        <section id="income_categories">
                            <ul class="collapsible" data-collapsible="accordion">
                                {% for category in income_categories %}
                                <li>
                                    <div class="collapsible-header">
                                        <div class="category-header">
                                            <i class="material-icons">expand_more</i>
                                            <span>{{ category.name }} : $ {{ category.value }} </span>
            </div>
</div>
<div class="collapsible-body collection">
    <span class="collection-item">Description: {{ category.description }}</span>
    <hr>
    <span class="collection-item">Date & Time: {{ category.date }}</span>
</div>
</li>
{% endfor %}
</ul>
</section>
</span>
</div>
</li>
</ul>
</div>
</div>
<div class="row">

    <section id="graphs">

        <div class="col s12 m6">
            <div class="chart-1">Spend History by Date</div>
            <div id="chart-hist-spend"></div>
        </div>

        <div class="col s12 m6">
            <div class="chart-2">Ammount spent by Category</div>
            <div id="chart-row-spenders"></div>
        </div>
    </section>

</div>

<!-- Javascript files to draw graphs-->
<script type="text/javascript" src="/static/js/d3.min.js"></script>
<script type="text/javascript" src="/static/js/crossfilter.min.js"></script>
<script type="text/javascript" src="/static/js/dc.js"></script>
<script type="text/javascript" src="/static/js/queue.min.js"></script>
<script type="text/javascript" src="/static/js/graph.js"></script>
{% endblock %}